.homeWrapper {
  display: flex;
  justify-content: center;
  margin: 35px;

  .homeContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70vw;

    .filterWrapper {
      display: flex;
      justify-content: end;
      gap: 10px;
      padding: 10px 20px;
      border: 2px solid black;
      border-radius: 15px;
      font-size: 18px;
    }
  }
}
